.sidebar-controls {
  margin: 0 5% 0 5%;
  border: 2px solid black;
}

.sidebar-heading {
  text-align: center;
}

.input-group-prepend {
  margin: 0 5% 0 0;
}

.input-group {
  margin: 0 0 2% 0;
}


.info-group ul {
  list-style-type: none;
}

.info-group p {
  display: inline;
}

.btn-group button {
  margin: 10% 0 10% 10%;
}

